<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>JAAS Sample</display-name>
	
	<login-config>
		<realm-name>jaas-sample</realm-name>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login-form.jsp</form-login-page>
			<form-error-page>/login-error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<security-role>
		<role-name>*</role-name>
	</security-role>
	
	<security-constraint>
	    <display-name>Unsecured area just for login</display-name>
	    <web-resource-collection>
	        <url-pattern>/login*</url-pattern>
	    </web-resource-collection>
	</security-constraint>

	<security-constraint>
		<display-name>Main Security Constraint that blocks all others urls</display-name>
		<web-resource-collection>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>